<template>
  <div>
    <div class="row min-vh-100" >
      <div class="col-lg-5 col-sm-12">
        <offer description="Ответьте на все вопросы и получите гарантированный приз — подписку на Ozon Premium.">
          <crossword :crosswordDefinition="crosswordDefinition"
                     v-if="window.width < 481"
                     ref="crossword"
                     class="mb-5"
                     @change-task="getTaskText"
                     @solved="goToResult"></crossword>
          <timer @timeup="goToResult"></timer>
          <GameCard
              :direction="'По вертикали'"
              :card_text="activeTask"
              class="mb-5"
              @goNext="goToNextQuestion()"
              @goPrev="goToPrevQuestion()"
          ></GameCard>
        </offer>
      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="d-flex align-items-center justify-content-center w-100 h-100">
          <crossword :crosswordDefinition="crosswordDefinition"
                     ref="crossword"
                     v-if="window.width > 480"
                     @change-task="getTaskText"
                     @solved="goToResult"></crossword>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GameCard from '@/components/GameCard'
import Crossword from '@/components/Crossword'
import Offer from '@/components/Offer'
import { mapGetters } from 'vuex'
// eslint-disable-next-line
import axios from 'axios'
import Timer from '@/components/Timer'
export default {
  name: 'Game',
  components: { Timer, Offer, Crossword,GameCard },
  data: () => ({
    activeTask: {
      id: null,
      text: null
    },
    window: {
      width: 0,
      height: 0
    }
  }),
  computed: {
    ...mapGetters(['crosswordDefinition'])
  },
  created () {
    this.$store.dispatch('getUser').then(result => {
      this.$store.dispatch('getTasks')
    })

    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    getTaskText (id) {
      // todo: удалить
      const tasks = [
        { id: 1, text: '% "проверенности" элемента', direction: 'h' },
        { id: 2, text: 'Атрибут – это', direction: 'v'  },
        { id: 3, text: 'Юзер – это', direction: 'v' },
        { id: 4, text: 'Процесс подтверждения данных прав на сайте' , direction: 'h'},
        { id: 5, text: 'Выкатить на' , direction: 'v'},
        { id: 6, text: 'Тестирование «на выносливость»' , direction: 'v'},
        { id: 7, text: '*** ящик' , direction: 'h'},
        { id: 8, text: 'Происшествие' , direction: 'v'},
        { id: 9, text: 'Описание бага это баг-' , direction: 'h'},
        { id: 10, text: 'Kafka – это *** сообщений' , direction: 'v'},
        { id: 11, text: 'Дефект' , direction: 'h'},
        { id: 12, text: 'Система тестовых отчетов' , direction: 'h'},
        { id: 13, text: 'Build – это' , direction: 'v'},
        { id: 14, text: 'Ozon хранит в Allure TestOPS' , direction: 'h'}
      ]
      this.activeTask = tasks.find(item => item.id === id)
      // * конец удаления, ниже раскомментировать * //

      // axios.get('/tasks/' + id).then(response => {
      //   this.activeTask = response.data.task
      // })
    },
    goToResult () {
      this.$router.push({ name: 'Result' })
    },
    goToNextQuestion(){
      this.$refs.crossword.getNextTask()
    },
    goToPrevQuestion(){
      this.$refs.crossword.getPrevTask()
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  }
}
</script>

<style scoped>
html {
  scroll-behavior: smooth;

}
.in-mobile {
  display: none;
}
@media (max-width:481px) {
  .in-mobile {
    display: block;
  }
  .in-desktop {
    display: none;
  }
}
</style>
