<template>
  <div>
    <div class="row min-vh-100">
      <div class="col-lg-5 col-sm-12">
        <offer description="Ответьте на все вопросы и получите гарантированный приз — подписку на Ozon Premium.">
          <CustomCard
              :card_text="`Поздравляем! <br>
                Вы заполнили кроссворд за  <b> ${res_minutes} </b> минут <b>${res_seconds}</b> секунд.
                Лидеров турнирной таблицы анонсируем <b> 7 октября в 19:00 </b> в канале конференции.
                <b> 8 октября </b> в течение дня мы отправим вам промокод на подписку Ozon Premium. `"
          ></CustomCard>
        </offer>
      </div>
      <div class="col-lg-7 crossword">
        <div class="d-flex align-items-center justify-content-center w-100 h-100">
          <crossword :crosswordDefinition="crosswordDefinition" :disable="true"></crossword>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Offer from '@/components/Offer'
import {mapGetters, mapState} from 'vuex'
import Crossword from '@/components/Crossword'
// eslint-disable-next-line
import axios from 'axios'
import CustomCard from '@/components/CustomCard'
export default {
  name: 'Result',
  components: { Crossword, Offer, CustomCard },
  data: () => ({
    score: null,
    time: null,
    loading: true,
    res_minutes: null,
    res_seconds: null,

  }),
  computed: {
    ...mapGetters(['crosswordDefinition']),
    ...mapState(['started_at']),
  },
  created () {
    this.$store.dispatch('getUser').then(result => {
      this.getResult()
      this.$store.dispatch('getTasks')
    })
  },
  methods: {
    calculateTime(start_time,end_time){

      let secs = (end_time.getTime() - start_time.getTime()) / 1000;
      this.res_minutes = ~~((secs % 3600) / 60);
      this.res_seconds = ~~secs % 60;
    },
    getResult () {
      // todo: удалить

      this.score = 14
      this.time = 1200
      this.loading = false
      this.calculateTime(new Date() ,new Date(new Date().getTime()+365000 )) // ожидаем получить две даты

      // * конец удаления, ниже раскомментировать * //

      // this.loading = true
      // axios.get('/result').then(response => {
      //   if (response.data.score < 14) {
      //     this.$router.push({ name: 'Game' })
      //   }
      //   this.score = response.data.score
      //   this.calculateTime(response.data.start_time, response.data.end_ime) // ожидаем получить время прохождения теста в секундах seconds
      //   this.loading = false
      // })
    },
  }
}
</script>

<style scoped>
@media screen and (max-width: 768px) {
  .crossword{
    display: none!important;
  }
}
</style>
