<template>
    <div class="row min-vh-100">
      <div class="col-lg-5 col-sm-12">
        <offer @customBtnClick="startGame()"
               description="QA-кроссворд на скорость: отгадывайте зашифрованные термины и понятия
               от команды Ozon Tech и получайте подписку на Ozon Premium.
               А три лидера рейтинга получат брендированые толстовки с прикольными патчами.">
          <CustomCard
              @btnClick="startGame"
              card_text="Ответьте на 14 вопросов на скорость:  <br>
              1. Заполняйте клетки по горизонтали (слева направо) и по вертикали (сверху вниз) словами; <br>
              2. Одна клетка = одна буква; <br>
              3. QA-кроссворд можно пройти только 1 раз. <br>"
              button_name="Начать"
              card_description="Повторяем – игра на время"
          ></CustomCard>
        </offer>
      </div>
      <div class="col-lg-7 crossword">
        <div class="d-flex align-items-center justify-content-center w-100 h-100">
          <crossword :crosswordDefinition="crosswordDefinition" :disable="true"></crossword>
        </div>
      </div>
    </div>
</template>

<script>
import CustomCard from '@/components/CustomCard'
import Offer from '@/components/Offer'
import Crossword from '@/components/Crossword'
import { mapGetters } from 'vuex'
export default {
  name: 'Start',
  components: {CustomCard, Crossword, Offer },
  computed: {
    ...mapGetters(['crosswordDefinition'])
  },
  methods:{
    startGame(){
      this.$router.push({name: 'Game'})
    }
  }
}
</script>

<style scoped>
@media screen and (max-width: 768px) {
 .crossword{
   display: none!important;
 }
}
</style>
