<template>
  <div>
    <div class="row row-cols-auto p-0" v-for="(row, row_index) in grid" :key="row_index">
      <div class="col w1em p-1" v-for="(col, col_index) in row" :key="col_index">
        <div v-if="col.links.length > 0">
          <div @mousedown.prevent.stop="focus(col);"
               v-if="showNumber(col)"
               class="itm-number"
            > <span>{{col.item_id}}</span>
          </div>
          <input
            :ref="col.ref"
            v-model="col.letter"
            type="text"
            class="form-control bg-success text-center cell lh-1 p-1"
            :class="{'active-cell': col.links.find(item => (item.id === activeTaskId)),
              'solved-cell': col.solved ,
              'error-cell' : incorrect_id === col.item_id }"
            maxlength="1"
            size="1"
            tabindex="-1"
            @mousedown.prevent.stop="focus(col); "
            @input="cellInput(col)"
            @keydown.delete="deleteLetter(col)"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line
import axios from 'axios'

export default {
  name: 'Crossword',
  props: {
    crosswordDefinition: Object,
    disable: {
      type: Boolean,
      default: () => false
    }
  },
  data: () => ({
    grid: [],
    unsolvedTask: [],
    activeTaskId: null,
    activeCellStart: null,
    incorrect_id:null,
    wrong_answer_delay: process.env.VUE_APP_SHOW_WRONG_ANSWER_DELAY
  }),
  created () {
    this.init()
  },
  methods: {
    init () {
      this.unsolvedTask = []
      this.grid = []

      for (let i = 0; i < this.crosswordDefinition.height; i++) {
        this.grid.push([])
        for (let j = 0; j < this.crosswordDefinition.width; j++) {
          this.grid[i].push({
            links: [],
            ref: 'cell_' + i + '_' + j,
            letter: null,
            solved: false,
            item_id: null,
            direction: null,
          })
        }
      }

      this.crosswordDefinition.tasks.forEach(item => {

        if (item.answer === null) {
          this.unsolvedTask.push({ id: item.id, start: this.grid[item.y][item.x] })
        }
        if (item.direction === 'h') { // по горизонтали
          for (let i = 0; i < item.answer_length; i++) {
            const cell = this.grid[item.y][item.x + i]
            cell.item_id = item.id === 14 ? item.id : cell.item_id ? cell.item_id : item.id;
            cell.direction = 'h';
            cell.links.push({
              id: item.id,
              x: item.x + i,
              y: item.y,
              start: this.grid[item.y][item.x],
              next: i === (item.answer_length - 1) ? null : this.grid[item.y][item.x + i + 1],
              prev: i === 0 ? null : this.grid[item.y][item.x + i - 1],
              solved: (item.answer && (item.answer.length === item.answer_length))
            })
            cell.letter = cell.letter || (item.answer && item.answer[i]) || null
            cell.solved = cell.solved || (item.answer && (item.answer.length === item.answer_length))
          }
        } else { // по вертикали
          for (let i = 0; i < item.answer_length; i++) {
            const cell = this.grid[item.y + i][item.x]
            cell.item_id = cell.item_id ? cell.item_id : item.id;
            cell.direction = 'v';
            cell.links.push({
              id: item.id,
              x: item.x,
              y: item.y + i,
              start: this.grid[item.y][item.x],
              next: i === item.answer_length - 1 ? null : this.grid[item.y + i + 1][item.x],
              prev: i === 0 ? null : this.grid[item.y + i - 1][item.x],
              solved: (item.answer && (item.answer.length === item.answer_length))
            })
            cell.letter = cell.letter || (item.answer && item.answer[i]) || null
            cell.solved = cell.solved || (item.answer && (item.answer.length === item.answer_length))
          }
        }
      })
      /*
      * Раскомментировать, для отображения неотвеченного вопроса, при первичной загрузке страницы.
      * */
      // this.focusUnsolvedTask()
    },
    focus (cell) {
      if (this.disable) {
        return
      }
      let unsolved
      if(cell.start){
         unsolved = cell.start.links.find(item =>  (cell.id === item.id && !item.solved) )
      }else{
        unsolved = cell.links.find(item => !item.solved)
      }
      if (!unsolved) {
        return
      }
      if (this.activeTaskId && this.activeTaskId !== unsolved.id || this.activeTaskId === null) {
        this.scrollBottom()
      }
      this.activeTaskId = unsolved.id
      this.activeCellStart = unsolved.start
      this.$emit('change-task', this.activeTaskId)
      let current = unsolved.start
      while (current && current.letter !== null) {
        current = this.getNextCell(current)
      }
      if (current) {
        this.$refs[current.ref] && this.$refs[current.ref][0].focus()
      }

    },
    cellInput (cell) {
      this.$refs[cell.ref][0].blur()
      const next = this.getNextCell(cell)
      if (!next) {
        this.checkAnswer()
      } else {
        if (next.letter === null) {
          this.$refs[next.ref][0].focus()
        } else {
          this.cellInput(next)
        }
      }
    },
    checkAnswer () {
      // todo: удалить
      const answers = [
        { id: 1, answer_length: 8, answer: 'ПОКРЫТИЕ' }, // ПОКРЫТИЕ
        { id: 2, answer_length: 8, answer: 'СВОЙСТВО' }, // СВОЙСТВО
        { id: 3, answer_length: 12, answer: 'ПОЛЬЗОВАТЕЛЬ' }, // ПОЛЬЗОВАТЕЛЬ
        { id: 4, answer_length: 11, answer: 'АВТОРИЗАЦИЯ' }, // АВТОРИЗАЦИЯ
        { id: 5, answer_length: 4, answer: 'ПРОД' }, // ПРОД
        { id: 6, answer_length: 11, answer: 'НАГРУЗОЧНОЕ' }, // НАГРУЗОЧНОЕ
        { id: 7, answer_length: 6, answer: 'ЧЕРНЫЙ' }, // ЧЕРНЫЙ
        { id: 8, answer_length: 8, answer: 'ИНЦИДЕНТ' }, // ИНЦИДЕНТ
        { id: 9, answer_length: 6, answer: 'РЕПОРТ' }, // РЕПОРТ
        { id: 10, answer_length: 6, answer: 'БРОКЕР' }, // БРОКЕР
        { id: 11, answer_length: 3, answer: 'БАГ' }, // БАГ
        { id: 12, answer_length: 5, answer: 'АЛЛЮР' }, // АЛЛЮР
        { id: 13, answer_length: 6, answer: 'СБОРКА' }, // СБОРКА
        { id: 14, answer_length: 6, answer: 'ОТЧЕТЫ' } // ОТЧЕТЫ
      ]

      if (answers[this.activeTaskId - 1].answer === this.getInputAnswer().toUpperCase()) {
        this.markAsSolved()
        this.activeCellStart = null
        this.activeTaskId = null
        this.focusUnsolvedTask()
      } else {
        this.clearWord()

      }

      // * конец удаления, ниже раскомментировать * //

      // axios.post('/solutions', { task_id: this.activeTaskId, text: this.getInputAnswer() }).then(response => {
      //   if (response.data.result === 1) {
      //     this.markAsSolved()
      //     this.activeCellStart = null
      //     this.activeTaskId = null
      //     this.focusUnsolvedTask()
      //   } else {
      //     this.clearWord()
      //   }
      // }).catch(response => {
      //   // console.log(response)
      //   this.clearWord()
      //   this.focus(this.activeCellStart)
      // })
    },
    getNextCell (cell, id) {
      id = id || this.activeTaskId
      const activeLink = cell.links.find(item => item.id === id)
      return activeLink && activeLink.next
    },
    getPrevCell (cell, id) {
      id = id || this.activeTaskId
      const activeLink = cell.links.find(item => item.id === id)
      return activeLink && activeLink.prev
    },
    clearWord (cell, id) {
      id = id || this.activeTaskId
      cell = cell || this.activeCellStart
      this.incorrect_id = id
      setTimeout(()=>{
        this.incorrect_id = null;
        while (cell) {
          if (!cell.solved) {
            cell.letter = null
          }
          cell = this.getNextCell(cell, id)
          this.focus(this.activeCellStart)
        }
      },this.wrong_answer_delay);

    },
    deleteLetter (cell) {
      cell.letter = null
      do {
        cell = this.getPrevCell(cell)
      } while (cell && cell.solved)
      if (cell) {
        cell.letter = null
        this.$refs[cell.ref][0].focus()
      }
    },
    markAsSolved () {
      let cell = this.activeCellStart
      while (cell) {
        cell.solved = true
        cell.links.find(item => (item.id === this.activeTaskId)).solved = true
        cell = this.getNextCell(cell)
      }
      this.unsolvedTask.splice(this.unsolvedTask.findIndex(item => (item.id === this.activeTaskId)), 1)
    },
    getInputAnswer () {
      let cell = this.activeCellStart
      let text = ''
      while (cell) {
        text += cell.letter
        cell = this.getNextCell(cell)
      }
      return text
    },
    focusUnsolvedTask () {
      if (this.unsolvedTask.length > 0) {
        this.focus(this.unsolvedTask[0])
      } else {
        this.$emit('solved')
      }
    },
    getNextTask(){
      if (this.unsolvedTask.length > 0) {
       let index = this.unsolvedTask.findIndex(item => (item.id === this.activeTaskId))
       let target = this.unsolvedTask.length === index+1 ? 0 : index+1
       this.focus(this.unsolvedTask[target])
      } else {
        this.$emit('solved')
      }
    },
    getPrevTask(){
      if (this.unsolvedTask.length > 0) {
        let index = this.unsolvedTask.findIndex(item => (item.id === this.activeTaskId))
        let target = index === 0 ? this.unsolvedTask.length-1 : index-1
        this.focus(this.unsolvedTask[target])
      } else {
        this.$emit('solved')
      }
    },
    showNumber(col){
      if(!col.solved && !col.letter && !col.links.find(item => (item.id === this.activeTaskId))){
        if(col.direction ===  "v" && col.links && col.links[0] && col.links[0].prev === null ){ return true}
        if(col.direction ===  "v" && col.links && col.links[1] && col.links[1].prev === null ){ return true}
        if(col.direction ===  "h" && col.links && col.links[0] && col.links[0].prev === null ){ return true}
        if(col.direction ===  "h" && col.links && col.links[1] && col.links[1].prev === null ){ return true}
      }
      else{
        return false
      }
    },
    scrollBottom(){
      window.scrollTo(0,document.body.scrollHeight);
    }
  },
  watch: {
    crosswordDefinition () {
      this.init()
    }
  }
}
</script>

<style scoped>
.w1em {
  width: 2em !important;
  height: 2rem !important;
}
.cell {
  font-family: GT Eesti Pro Text;
  border-width: 0;
  box-shadow: 0px 2px 6px #15CC48, inset 0px -2px 2px rgba(0, 0, 0, 0.1), inset 0px 2px 4px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: #40EC70 !important;
  color: #032B44 !important;
}
.solved-cell {
  background-color: #2c3e50 !important;
  color: white !important;
}
.active-cell:not(.solved-cell) {
  transform: scale(1.08);
  background-color: white !important;
}
.itm-number{
  font-family: GT Eesti Pro Text;
  color: #032B44;
  position: absolute;
  margin: 2px;
  width: 20px;
  height: 20px;
}
.error-cell{
  color: #EB396D !important;
}

@media screen and (max-width: 1128px) and (min-width: 991px) {
  .w1em {
    width: 26px !important;
    height: 32px !important;
  }
  .cell{
    border-radius: 3px;
    font-size: 14px;
  }
  .itm-number{
    position: absolute;
    margin: 7px 0;
    width: 18px;
    height: 20px;
    font-size: 16px;
    line-height: 12px;
  }

}
@media screen and (min-width:480px)  and  (max-width: 990px) {
  .w1em {
    width: 23px !important;
    height: 25px !important;
  }
  .p-1{
    padding: .1rem!important;
  }
  .itm-number{
    position: absolute;
    margin: 5px 0;
    width: 18px;
    height: 20px;
    font-size: 16px;
    line-height: 12px;
  }

}
@media screen and (max-width: 420px) {
  .w1em {
    width: 18px !important;
    height: 22px !important;
  }
  .p-1{
    padding: .1rem!important;
  }
  .cell{
    border-radius: 3px;
  }
  .itm-number{
    position: absolute;
    margin: 5px 0;
    width: 15px;
    height: 20px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .active-cell:not(.solved-cell) {
    transform: scale(1);
  }
}
@media screen and (max-width: 320px) {
  .w1em {
    width: 16px !important;
    height: 20px !important;
  }
  .p-1{
    padding: 0px!important;
  }
  .cell{
    border-radius: 3px;
    font-size: 16px;
  }
  .itm-number{
    position: absolute;
    margin: 3px 0px;
    width: 16px;
    height: 20px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .active-cell:not(.solved-cell) {
    transform: scale(1);
  }
}
@media screen and (max-width: 280px) {
  .w1em {
    width: 14px !important;
    height: 19px !important;
  }
  .p-1{
    padding: 0px!important;
  }
  .cell{
    border-radius: 3px;
    font-size: 16px;
  }
  .itm-number{
    position: absolute;
    margin: 3px 0px;
    width: 16px;
    height: 20px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .active-cell:not(.solved-cell) {
    transform: scale(1);
  }
}
</style>
