<template>
  <div class="card-wrapper">
    <p class="card-text"
       v-html="card_text">
    </p>
    <input
        v-if="send_email"
        v-model="email"
        type="text"
        placeholder="Почта"
        :class="isInValid ? 'border-danger' : ''"
        class="form-control text-center custom-input"
    >
    <button v-if="button_name"
            class="custom-btn btn text-white"
            @click="btnClick">{{button_name}}</button>
    <p v-if="card_description"
       class="card-description">
      {{card_description}}
    </p>
  </div >
</template>

<script>
export default {
name: "CustomCard",
  data: () => ({
    email: null,
    isInValid: false
  }),
  props: {
    card_text:{
      type: String,
    },
    card_description:{
      type: String,
    },
    button_name:{
      type: String,
    },
    send_email:{
      type: Boolean,
      default: false
    },
  },
  methods:{
    btnClick(){
      if(this.send_email){
        this.isInValid = false
        if(!this.validateEmail()){
          this.$emit('btnClick', this.email)
        }else{
          this.isInValid = true
        }
      }else{
        this.$emit('btnClick')
      }
    },
    validateEmail(){
      const reg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return (this.email === null || this.email.length < 5 || !(reg.test(String(this.email).toLowerCase())) )
    }
  }
}
</script>

<style scoped>

.custom-input{
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: GT Eesti Pro Text;

}
.card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 460px;
  background: #FFFFFF;
  border-radius: 18px;
}
.card-text{
  position: static;
  text-align: left;
  width: 396px;
  left: 20px;
  top: 20px;
  font-family: GT Eesti Pro Text;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}
.custom-btn{
  position: static;
  height: 48px;
  font-family: GT Eesti Pro Display;
  font-size: 24px;
  line-height: 28px;
  background: #39D264;
  border-radius: 10px;
}
.card-description{
  margin-top: 10px;
  position: static;
  height: 15px;
  left: 72px;
  top: 183px;

  font-family: GT Eesti Pro Text;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1024px) {
  .card-wrapper{
    width: 335px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-text{
    width: 308px;
    font-size: 15px;
    line-height: 19px;
  }
}
@media screen and (max-width: 420px) {
  .card-wrapper{
    width: 335px;
    padding: 16px;
  }
  .card-text{
    width: 308px;
    font-size: 15px;
    line-height: 19px;
  }
}
@media screen and (max-width: 340px) {
  .card-wrapper{
    width: 295px;
    margin-bottom: 32px;
  }
  .card-text{
    width: 280px;
  }

}
@media screen and (max-width: 280px) {
  .card-wrapper{
    width: 250px;
    margin-bottom: 32px;
  }
  .card-text{
    width: 240px;
  }

}
</style>