<template>
  <div v-if="card_text && card_text.id" class="card-wrapper">
    <div class="slider"  >
      <div @click="$emit('goPrev')">
        <img
             src="@/assets/left.png"
             class="arrows" alt="">
      </div>
      <span
            class="descr-text">{{card_text.id}}. {{card_text.direction === 'h' ? 'По горизонтали' : 'По вертикали'}}</span>
      <div>
        <img  @click="$emit('goNext')"
              src="@/assets/right.png"
              class="arrows" alt="">
      </div>
    </div>
      <p class="card-text" >
        {{card_text.text}}
      </p>
  </div >
</template>

<script>

export default {
name: "CustomCard",
  props: {
    card_text:{
      type: Object,
    },
    direction:{
      type: String,
    },
  }
}
</script>

<style scoped>
.arrows{
  margin: 0 9px;
  cursor: pointer;
}
.slider{
  font-family: GT Eesti Pro Text;
  font-size: 13px;
  line-height: 10px;
  color: #EB396D;
  margin: 8px 0px;
  display: flex;
  width: 165px;
  justify-content: space-between;
}
.descr-text{
  width: 115px;
  text-align: center;
}
.card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 460px;
  background: #FFFFFF;
  border-radius: 18px;
  min-height: 140px;
  position: relative;
  overflow: hidden;
}
.card-text{
  width: 295px;
  font-family: GT Eesti Pro Text;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin: 15px 0 0;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 40px;
  left: 83px;
}

@media screen and (max-width: 1128px) and (min-width: 991px) {
  .card-wrapper{
    width: 360px;
  }
  .card-text{
    left: 35px;
  }
}
@media screen and (min-width:480px)  and  (max-width: 990px) {
  .card-wrapper{
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 420px) {
  .card-wrapper{
    width: 335px;
    padding: 16px;
  }
  .card-text{
    width: 308px;
    font-size: 15px;
    line-height: 19px;
    left: 15px;
  }
}
@media screen and (max-width: 320px) {
  .card-wrapper{
    width: 295px;
  }

}
@media screen and (max-width: 280px) {
  .card-wrapper{
    width: 250px;
  }
  .card-text{
    width: 220px;
    font-size: 14px;
  }

}
</style>
