<template>
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <div class="text-start" >
        <img src="@/assets/Logo.png" class="logo-img" alt="">
        <p class="main-description">
          {{description}}
        </p>
        <slot class="d-flex justify-content-center"></slot>
      </div>
    </div>
</template>

<script>

export default {
  name: 'Offer',
  props: {
    description:{
      type: String,
    },
  }
}
</script>

<style scoped>
.logo-img{
  margin-bottom: 40px;
  margin-right: auto;
  width: 30%;
}
.main-description{
  width: 459px;
  font-family: GT Eesti Pro Display;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 40px;

  color: #FFFFFF;
}

@media screen and (max-width: 1128px) and (min-width: 991px) {
  .main-description{
    width: 343px;

  }
}
@media screen and (max-width: 420px) {
  .main-description{
    width: 335px;
    font-size: 20px;
    line-height: 24px;
  }
  .text-start {
    padding-top: 60px;
  }
}
@media screen and (max-width: 420px) {
  .main-description{
    width: 289px;
    font-size: 18px;
    line-height: 20px;
  }
  .text-start {
    padding-top: 60px;
  }
}
@media screen and (max-width: 280px) {
  .main-description{
    width: 250px;
    font-size: 18px;
    line-height: 20px;
  }

}
</style>
