<template>
  <div class="timer-wrap">
    <img src="@/assets/Union.png"
         class="logo-img" alt="">
    <p class="timer"
       :class="{'text-danger': minutes == 59}"
      >
      {{minutes}}:{{seconds}}
    </p>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Timer',
  data: () => ({
    minutes: '00',
    seconds: '00',
  }),
  computed: {
    ...mapState(['started_at']),
  },
  created() {
    this.timeInterval = setInterval(() => {
      this.calculateTimeDiff()
    }, 1000)
  },
  beforeDestroy() {
    clearInterval(this.timeInterval)
  },
  methods:{
    calculateTimeDiff(){
      let DateNow = new Date();
      let secs = (DateNow.getTime() - this.started_at.getTime()) / 1000;

      this.minutes = ~~(secs / 60) < 10 ? '0' + ~~(secs / 60) : ~~(secs / 60)
      this.seconds = (secs % 60) < 10 ? '0' + secs % 60 : secs % 60

      this.minutes = this.minutes > 59 ? 59 : this.minutes // макс время прохождения 59:59   дальше вреям не идет и горит красным
      this.seconds = this.minutes > 59 ? 59 : this.seconds

      this.seconds = this.seconds.toString().substring(0,2)
      this.minutes = this.minutes.toString().substring(0,2)
    },
  }
}
</script>

<style scoped>
.logo-img{
  margin: 0 10px 0 5px;
}
.timer{
  font-family: GT Eesti Pro Display;
  font-size: 24px;
  line-height: 28px;
  color: #3ADF68;
  margin-bottom: 0;
}
.timer-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 10px 10px;

  width: 119px;
  height: 48px;
  background: #032B44;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
</style>
