<template>
  <div id="app" class="container-fluid bg-color min-vh-100 text-white">
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.bg-color {
  background: linear-gradient(106.82deg, #3ADF68 1.69%, #38CA61 98.05%);
}
@font-face {
  font-family: 'GT Eesti Pro Text';
  src: url(~@/fonts/GTEestiProText-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url(~@/fonts/GTEestiProDisplay-Light.woff2) format('woff2');
}
</style>
